<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Editing: <%= sites.SiteName %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= sites.SiteName %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated: <%= new Date(sites.updatedAt).toUTCString()  %></b>
      <b>SiteId:</b> <%= sites._id %>
    </div>
  </div>

</div>


<form action="/edit/<%= sites._id %>?_method=PUT" method="POST">

  <div class="row form-group mb-4">
    <div class="col">
      <label for="SiteName">Site Name</label>
      <input type="text" class="form-control" id="SiteName" name="SiteName" value="<%= sites.SiteName %>" placeholder="Site Name" required>
    </div>

    <div class="col">
      <label for="SiteLocation">SiteLocation</label>
      <input type="text" class="form-control" id="SiteLocation" name="SiteLocation" value="<%= sites.SiteLocation %>" placeholder="Site Location" required>
    </div>
  </div>

  <!-- <div class="row form-group mb-4">
    <div class="col">
      <label for="TruckNo">Truck number</label>
      <input type="text" class="form-control" id="TruckNo" name="TruckNo" value="<%= sites.TruckNo %>" placeholder="Telephone" required>
    </div>

    <div class="col">
      <label for="Material">Material</label>
      <input type="text" class="form-control" id="Material" name="Material" value="<%= sites.Material %>" placeholder="Material" required>
    </div>
  </div> -->

  <div class="form-group mb-4">
      <label for="details"> Details</label>
      <textarea class="form-control" name="details" id="details"  placeholder="Details"><%= sites.details %></textarea>
  </div>

    <div class="form-group mb-4">
      <label for="SiteManger">Site manager </label>
      <textarea class="form-control" name="SiteManger" id="SiteManger" placeholder="CSiteManger"><%= sites.SiteManger %></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Update Site</button>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton" data-bs-target="#deleteModal">Delete Site</button>

  </div>

</form>



<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">You are about to remove a customer record.</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This will remove the site record of <b class="fw-bold"><%= sites.SiteName %></b><br/>
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/edit/<%= sites._id %>?_method=DELETE" method="POST" class="position-relative">
          <button type="submit" class="btn btn-primary">Yes, Remove Site</button>
        </form>
      </div>
    </div>
  </div>
</div>